:root {
  --primary-color: #f9f5f6;
  --secondary-color: #f8e8ee;
  --detail-color: #751e3b;
}

body {
  background: var(--primary-color);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--detail-color);
}

.App {
  width: 70%;
  margin: 0 auto;
}

.App .logo {
  max-width: 200px;
  display: block;
  margin: 50px auto 10px auto;
}

footer {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
}

@media (max-width: 850px) {
  .App {
    width: 100%;
  }
  footer {
    margin-top: 50px;
    padding: 0px 30px;
  }
  .App .logo {
    display: none;
  }
}
