.Dictionary {
  margin-top: 50px;
}

.Dictionary .search-input {
  width: 50%;
  padding: 12px 15px;
  font-size: 17px;
  border-radius: 8px;
}

.Dictionary .search-button {
  font-size: 17px;
  font-weight: 600;
  padding: 11px 22px 14px 22px;
  margin-left: 12px;
  border-radius: 8px;
  border: none;
  background: var(--detail-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-color);
  transition: all 120ms ease-in-out;
}

.Dictionary .search-button:hover {
  background: var(--secondary-color);
  color: var(--detail-color);
  cursor: pointer;
}

.Dictionary .hint {
  font-size: 14px;
  opacity: 60%;
  margin-top: 8px;
}

.Dictionary section {
  background-color: white;
  padding: 28px 25px 32px 45px;
  border-radius: 6px;
  margin: 20px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.08);
}

.Dictionary .section-photos {
  background-color: rgb(255, 255, 255);
  padding: 25px 25px 25px 25px;
  border-radius: 6px;
  margin: 20px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.08);
}

.Dictionary h2,
h4 {
  margin: 0;
}

.Dictionary h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 850px) {
  .Dictionary {
    margin-top: 5px;
  }

  .Dictionary .search-input {
    width: 62%;
    font-size: 16px;
    padding: 10px 13px;
  }

  .Dictionary .search-button {
    font-size: 1px;
    padding: 9px 18px 11px 18px;
  }

  .Dictionary section {
    padding: 20px 23px 20px 25px;
    margin: 13px 12px 10px 12px;
  }
}
