.Dictionary {
  margin-top: 40px;
}

.Dictionary .search-input {
  width: 50%;
  padding: 12px 15px;
  font-size: 17px;
  border-radius: 8px;
}

.Dictionary .search-button {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 21px 13px 21px;
  margin-left: 12px;
  border-radius: 8px;
  border: none;
  background: var(--detail-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-color);
  transition: all 120ms ease-in-out;
  border: 1px solid var(--detail-color);
}

.Dictionary .search-button:hover {
  background: var(--primary-color);
  color: var(--detail-color);
  border: 1px solid rgb(225, 225, 225);
  padding: 10px 21px 13px 21px;
  cursor: pointer;
}

.Dictionary .hint {
  font-size: 14px;
  opacity: 60%;
  margin-top: 8px;
}

.Dictionary section {
  background-color: white;
  padding: 28px 25px 32px 45px;
  border-radius: 6px;
  margin: 20px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.08);
}

.Dictionary .section-photos {
  background-color: rgb(255, 255, 255);
  padding: 32px 25px 30px 25px;
  border-radius: 6px;
  margin: 20px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.08);
}

.Dictionary h2,
h4 {
  margin: 0;
}

.Dictionary h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

@media (min-width: 430px) and (max-width: 750px) {
  .Dictionary .section-photos {
    display: none;
  }
}

@media (max-width: 350px) {
  .Dictionary .section-photos {
    display: none;
  }
}

@media (max-width: 900px) {
  .Dictionary {
    margin-top: 5px;
  }

  .Dictionary .search-input {
    width: 62%;
    font-size: 15.5px;
    padding: 10px 13px;
  }

  .Dictionary .search-button {
    font-size: 16px;
    padding: 9px 18px 11px 18px;
  }

  .Dictionary section {
    padding: 20px 23px 20px 25px;
    margin: 13px 12px 10px 12px;
  }

  .Dictionary .section-photos {
    padding: 26px 20px 24px 20px;
  }

  .Dictionary .hint {
    line-height: 1.3;
  }
}
