.Results h2 {
  font-size: 35px;
  line-height: 1.45;
}

.Results h2 em {
  opacity: 40%;
  font-weight: 500;
}

.Results h4 {
  font-size: 25px;
  font-weight: 300;
  opacity: 95%;
  margin-bottom: 20px;
}

.Meanings .example {
  opacity: 50%;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 50px;
}

.Meanings .definition {
  margin-bottom: 8px;
  font-size: 17px;
}
