.Results h2 {
  font-size: 35px;
  line-height: 1.45;
}

.Results h2 em {
  opacity: 40%;
  font-weight: 500;
}

.Results h4 {
  font-size: 25px;
  font-weight: 300;
  opacity: 90%;
}
.Results p {
  font-size: 18px;
}
